body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.align{
    text-align: center;
    
    
    font-weight: 400px;

}
.padding1{
    padding-top:200px;
}
h1{
    font-size: 30px;
}
.color{
    color: rgba(253, 251, 251, 0.74);
   
    
}

.img-set{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
    background-size: 100%;
}
.donate-button{
    text-decoration: none;
    background-color: orange;
    padding: 20px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 400px;

}